<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480766919778-8u82g9t49rvqfdgpkt9a8if3h0m3qtei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480766919778-8u82g9t49rvqfdgpkt9a8if3h0m3qtei</string>
	<key>API_KEY</key>
	<string>AIzaSyBIemZ1r6TlK3nNB6YLxY7BSfc5BLPqpnc</string>
	<key>GCM_SENDER_ID</key>
	<string>480766919778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.irInterestingCases</string>
	<key>PROJECT_ID</key>
	<string>ir-interesting-cases</string>
	<key>STORAGE_BUCKET</key>
	<string>ir-interesting-cases.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480766919778:ios:04a9e9bdc07dbdd8a2bd3b</string>
	<key>DATABASE_URL</key>
	<string>https://ir-interesting-cases-default-rtdb.firebaseio.com</string>
</dict>
</plist>